.valid-password-check {
  color: #11d825;
}

.invalid-password-check {
  color: #ee1010;
}

body {
  background-color: rgb(66, 65, 65);
  color: white;
}

#main {
  display: flex;
}

.container-service {
  border-radius: 25px;
  border: solid #f8f400;
  text-align: center;
  margin: 40px;
  padding: 15px;
  width: 15%;
}

a {
  color: #f8f400;
}

button {
  margin: 10px;
}
