.valid-password-check {
  color: #11d825;
}

.invalid-password-check {
  color: #ee1010;
}

body {
  background-color: rgb(66, 65, 65);
  color: white;
}

#main {
  display: flex;
}

.container-service {
  border-radius: 25px;
  border: solid #0d6efd;
  text-align: center;
  margin: 40px;
  padding: 20px;
  width: 20%;
  opacity: 0.8;
}

.container-service:hover {
  opacity: 1;
}

a {
  color: #0d6efd;
  text-decoration: none;
  opacity: 0.8;
  font-size: x-large;
}

a:hover {
  opacity: 1;
}

header {
  text-align: center;
  margin: 30px 0px ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  margin: 20px 0px;
}

header button {
  margin: 10px;
}

#form-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
  background-color: rgb(43, 37, 37);
  width: 90%;
  border-radius: 12px;
}

form {
  width: 20%;
}

input {
  background-color: rgb(100, 98, 98);
  border-radius: 8px;
  color: white;
}
